<!DOCTYPE html>
<html>
<head>
  <title><%= ContentTitle %></title>
</head>
<body>
  <h1><%= ContentTitle %></h1>
  <img src="<%= PrincipalImage %>" alt="Imagen">
  <p><%= texto %></p>
</body>
</html>
